<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.klb.suffuse.client</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/suffuse</string>
        <string>client</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <!-- <key>SUFFUSE_SERVER</key><string>192.168.1.10:9876</string> -->
        <!-- <key>SUFFUSE_TOKEN</key><string>mysecret</string> -->
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/Shared/suffuse-client.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/Shared/suffuse-client.log</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist>
